.the-image {
    width: auto;
    height: 200px;
}

.project-title {
    text-decoration: none;
}

.project:hover {
    background: rgb(238, 158, 152);
    border-radius: 4px;
    transition: all 0.2s ease-out;
    background-size: 100px 100px;
}